body {
    padding: 0px 10px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.menue {
    overflow: hidden;
    background-color: bisque;
    position: relative;
}

.menue a {
    float: left;
    color: darkgreen;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.menue .icon {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
}

.menue a:hover {
    background-color: royalblue;
    color: sandybrown;
}

.headere {
    padding: 60px;
    text-align: center;
    font-size: 40px;
    background-image: url("../Images/pngtree-japan-travel-advertising-background-image_165187.jpg");
}

h1 {
    font-size: 60px;
    color: red;
}

h2 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: saddlebrown;
}

figure figcaption {
    color: red;
}

p {
    text-align: left;
    text-indent: 30px;
    font-family: monospace;
    font-size: 24px;
    color: red;
}

p i {
    color: saddlebrown;
}